
body{
    font-family: "montserrat";
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 15% 7%;
}

h1{
    font-family: "montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h2{
    font-family: "montserrat";
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

h3{
    font-family: "montserrat";
    font-weight: bold;
}

p{
    color: #8f8f8f;
}

/*Navigation Bar*/

.navbar{
    padding: 0 0 4rem;
}

.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: "montserrat-ligh";
    font-size: 1.2rem;
}

.Download-Button{
    margin: 5% 3% 5% 0;
}

/*Title-image*/

.Title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/*Features-Section*/

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.features-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/*Testimonials Section*/

#testimonials{
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

/*Press Section*/

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 10%;
    margin: 20px 20px 50px;
}


/*Pricing Section*/

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/*cta Section*/

#cta{
    background-color: #ff4c68;
    padding: 7% 15%;
    color: #fff;
    text-align: center;
}

/*Footer Section*/

#footer{
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.social-icon{
    margin: 20px 10px;
}

@media (max-width: 1000px){

    #title{
        text-align: center;
    }

    .Title-image{
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}
